{% extends 'DCGovHavenBundle::base.html.twig' %}
{% block navigation %}	
	{{ parent() }}
	<div class="navbar">
		<div class="container-fluid">
          	<h2 class="text-center">Login</h2>
        </div>
    </div>
{% endblock navigation %}	
    
{% block body %}
	{{ parent() }}
    
	{% if error %}
	<div class="danger alert">{{ error.message }}</div>
	{% endif %}
	
	<div class="container" id="login-form-container">
		
		<form class="form-signin" id="login-form"
			action="{{ path('login_check') }}" method="POST">
			
			<div class="col-xs-11 col-md-11">
				<label for="_username" class="">Username</label>	
				<input id="email" class="form-control" name="_username" type="text" placeholder="Username" value="{{ last_username }}" required autofocus />
				<i class="fa fa-user form-control-feedback"></i>
			</div>
			
			<div class="col-xs-11 col-md-11 margin-top-1em">
				<label for="_password" class="">Password</label>

				<input id = "password" class="form-control" name="_password" type="password" placeholder="Password" required />
				<i class="fa fa-user form-control-feedback"></i>
			</div> 
							
			<div class="checkbox col-xs-11 col-md-11">
                <label>
                	<input type="checkbox" value="remember-me"> Remember me
              	</label>
              	<label for="" class="pull-right">
					<a href="{{ path('password_reset') }}" >Forgot Password ?</a>
				</label>
        	</div>
			<div class="col-xs-11 col-md-11">
				<button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>
			</div>

		</form>
	</div>


{% endblock body %}	