{% extends 'base.html.twig' %}

{% block body %}
    <h1>ApplicationPerson</h1>

    <table>
        <tbody>
            <tr>
                <th>Isapplicant</th>
                <td>{{ applicationPerson.isapplicant }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ applicationPerson.name }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ applicationPerson.age }}</td>
            </tr>
            <tr>
                <th>Hrsworked</th>
                <td>{{ applicationPerson.hrsworked }}</td>
            </tr>
            <tr>
                <th>Isdisabled</th>
                <td>{{ applicationPerson.isdisabled }}</td>
            </tr>
            <tr>
                <th>Isstudent</th>
                <td>{{ applicationPerson.isstudent }}</td>
            </tr>
            <tr>
                <th>Ismedicareentitled</th>
                <td>{{ applicationPerson.ismedicareentitled }}</td>
            </tr>
            <tr>
                <th>Isstateresident</th>
                <td>{{ applicationPerson.isstateresident }}</td>
            </tr>
            <tr>
                <th>Isltcattest</th>
                <td>{{ applicationPerson.isltcattest }}</td>
            </tr>
            <tr>
                <th>Isotherclaimed</th>
                <td>{{ applicationPerson.isotherclaimed }}</td>
            </tr>
            <tr>
                <th>Isinsured</th>
                <td>{{ applicationPerson.isinsured }}</td>
            </tr>
            <tr>
                <th>Ispriorinsured</th>
                <td>{{ applicationPerson.ispriorinsured }}</td>
            </tr>
            <tr>
                <th>Ispublicempbenefit</th>
                <td>{{ applicationPerson.ispublicempbenefit }}</td>
            </tr>
            <tr>
                <th>Isfomerfoster</th>
                <td>{{ applicationPerson.isfomerfoster }}</td>
            </tr>
            <tr>
                <th>Ispregnenant</th>
                <td>{{ applicationPerson.ispregnenant }}</td>
            </tr>
            <tr>
                <th>Islast3pregnant</th>
                <td>{{ applicationPerson.islast3pregnant }}</td>
            </tr>
            <tr>
                <th>Isuscitizen</th>
                <td>{{ applicationPerson.isuscitizen }}</td>
            </tr>
            <tr>
                <th>Isincarcerated</th>
                <td>{{ applicationPerson.isincarcerated }}</td>
            </tr>
            <tr>
                <th>Istaxrequied</th>
                <td>{{ applicationPerson.istaxrequied }}</td>
            </tr>
            <tr>
                <th>Dod</th>
                <td>{{ applicationPerson.dod }}</td>
            </tr>
            <tr>
                <th>Numchildren</th>
                <td>{{ applicationPerson.numchildren }}</td>
            </tr>
            <tr>
                <th>Isclaimedoos</th>
                <td>{{ applicationPerson.isclaimedoos }}</td>
            </tr>
            <tr>
                <th>Priorinsuranceenddate</th>
                <td>{% if applicationPerson.priorinsuranceenddate %}{{ applicationPerson.priorinsuranceenddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hadfostermedicaid</th>
                <td>{{ applicationPerson.hadfostermedicaid }}</td>
            </tr>
            <tr>
                <th>Ageleftfoster</th>
                <td>{{ applicationPerson.ageleftfoster }}</td>
            </tr>
            <tr>
                <th>Fosterstatecd</th>
                <td>{{ applicationPerson.fosterstatecd }}</td>
            </tr>
            <tr>
                <th>Lawllyfullypresent</th>
                <td>{{ applicationPerson.lawllyfullypresent }}</td>
            </tr>
            <tr>
                <th>Immigrationstatus</th>
                <td>{{ applicationPerson.immigrationstatus }}</td>
            </tr>
            <tr>
                <th>Iseligible</th>
                <td>{{ applicationPerson.iseligible }}</td>
            </tr>
            <tr>
                <th>Americanstatus</th>
                <td>{{ applicationPerson.americanstatus }}</td>
            </tr>
            <tr>
                <th>Vetstatus</th>
                <td>{{ applicationPerson.vetstatus }}</td>
            </tr>
            <tr>
                <th>Trafffickingvictim</th>
                <td>{{ applicationPerson.trafffickingvictim }}</td>
            </tr>
            <tr>
                <th>Immigrationdate</th>
                <td>{% if applicationPerson.immigrationdate %}{{ applicationPerson.immigrationdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fiveyearbar</th>
                <td>{{ applicationPerson.fiveyearbar }}</td>
            </tr>
            <tr>
                <th>Fiveyearbarmet</th>
                <td>{{ applicationPerson.fiveyearbarmet }}</td>
            </tr>
            <tr>
                <th>Fortyquaters</th>
                <td>{{ applicationPerson.fortyquaters }}</td>
            </tr>
            <tr>
                <th>Immigrationdatetype</th>
                <td>{{ applicationPerson.immigrationdatetype }}</td>
            </tr>
            <tr>
                <th>Ffcapitalgains</th>
                <td>{{ applicationPerson.ffcapitalgains }}</td>
            </tr>
            <tr>
                <th>Capitalgains</th>
                <td>{{ applicationPerson.capitalgains }}</td>
            </tr>
            <tr>
                <th>Mcmcapitalgains</th>
                <td>{{ applicationPerson.mcmcapitalgains }}</td>
            </tr>
            <tr>
                <th>Agegt90</th>
                <td>{{ applicationPerson.agegt90 }}</td>
            </tr>
            <tr>
                <th>Addressstreet</th>
                <td>{{ applicationPerson.addressstreet }}</td>
            </tr>
            <tr>
                <th>Addresscity</th>
                <td>{{ applicationPerson.addresscity }}</td>
            </tr>
            <tr>
                <th>Addressstate</th>
                <td>{{ applicationPerson.addressstate }}</td>
            </tr>
            <tr>
                <th>Istempoos</th>
                <td>{{ applicationPerson.istempoos }}</td>
            </tr>
            <tr>
                <th>Nofixedaddress</th>
                <td>{{ applicationPerson.nofixedaddress }}</td>
            </tr>
            <tr>
                <th>Createdtimestamp</th>
                <td>{% if applicationPerson.createdTimestamp %}{{ applicationPerson.createdTimestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nativeamerican</th>
                <td>{{ applicationPerson.nativeamerican }}</td>
            </tr>
            <tr>
                <th>Tobaccouser</th>
                <td>{{ applicationPerson.tobaccouser }}</td>
            </tr>
            <tr>
                <th>Addresszip</th>
                <td>{{ applicationPerson.addresszip }}</td>
            </tr>
            <tr>
                <th>Lastupdateuserid</th>
                <td>{{ applicationPerson.lastupdateUserid }}</td>
            </tr>
            <tr>
                <th>Lastupdatetimestamp</th>
                <td>{{ applicationPerson.lastupdateTimestamp }}</td>
            </tr>
            <tr>
                <th>Projectedamount</th>
                <td>{{ applicationPerson.projectedAmount }}</td>
            </tr>
            <tr>
                <th>Citstatnull</th>
                <td>{{ applicationPerson.citStatNull }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('applicationperson_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
