    {% if app.user %}
	    {% set _header_title = "Welcome to the District's Safe Haven" %}
	{% else %}    
        {% set _header_title = "Safe Haven" %}
	{% endif %}
	
	   
    <script type="text/javascript" defer>
    	<!--- Initalize Javascript path variables ---!>
		var _route = "{{ app.request.attributes.get('_route') }}";

		var dc_gov_haven_admin_manageusers_users ="{{ path('dc_gov_haven_admin_manageusers_users') }}";	
		var dc_gov_haven_admin_reports = "{{ path('dc_gov_haven_admin_reports') }}";
		var dc_gov_haven_admin_reports_save = "{{ path('dc_gov_haven_admin_reports_save') }}";
		
		
		var dc_gov_haven_admin_managereport_settings = "{{ path('dc_gov_haven_admin_managereport_settings') }}";
		var dc_gov_haven_admin_report_settings_save = "{{ path('dc_gov_haven_admin_report_settings_save') }}";
		
		var dc_gov_haven_admin_managereports = "{{ path('dc_gov_haven_admin_managereports') }}";
		var dc_gov_haven_admin_managereport_settings = "{{ path('dc_gov_haven_admin_managereport_settings') }}";

		var dc_gov_haven_admin_manageusers = "{{ path('dc_gov_haven_admin_manageusers') }}";
		var dc_gov_haven_admin_manageusers_users = "{{ path('dc_gov_haven_admin_manageusers_users') }}";
		var dc_gov_haven_admin_manageusers_save = "{{ path('dc_gov_haven_admin_manageusers_save') }}";
			
	</script> 
  
    {% block javascripts %}
        	
        	<!-- Include JQuery data table JS and CSS  -->
            <script type="text/javascript" src="{{ asset('js/jquery.js') }}" ></script>
            <script type="text/javascript" src="{{ asset('js/datatables.js') }}" defer></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}" defer></script>
            
            {% javascripts 	
            			'@DCGovHavenBundle/Resources/public/js/bootstrap/datatables/dataTables.editor.js'
        				'@DCGovHavenBundle/Resources/public/js/bootstrap/datatables/dataTables.select.min.js'
        				'@DCGovHavenBundle/Resources/public/js/bootstrap/datatables/dataTables.buttons.min.js'
        				'@DCGovHavenBundle/Resources/public/js/bootstrap/datatables/buttons.bootstrap.js'
        				'@DCGovHavenBundle/Resources/public/js/bootstrap/datatables/editor.bootstrap.js'
        				'@DCGovHavenBundle/Resources/public/js/bootstrap/datatables/dataTables.keyTable.js'
        				'@DCGovHavenBundle/Resources/public/js/bootstrap/datatables/jszip.js'
        				'@DCGovHavenBundle/Resources/public/js/bootstrap/datatables/buttons.html5.js'
        				'@DCGovHavenBundle/Resources/public/js/bootstrap/typeahead.bundle.js'
        				'@DCGovHavenBundle/Resources/public/js/bootstrap/bootstrap.multiselect.js'
        				'@DCGovHavenBundle/Resources/public/js/bootstrap/bootstrap.dropdown.on.hover.js'
        				'@DCGovHavenBundle/Resources/public/js/common.js'

            %}
            
            
        		<script src="{{ asset_url }}" defer></script>
            {% endjavascripts %}
            
	{% endblock javascripts %}
	
	<div class="top-container">
		<div class="container-fluid">
		  
        	<a href="{{ path('dc_gov_haven_home') }}">
        		{% image '@DCGovHavenBundle/Resources/public/images/dc-healthlink-logo.png' %}
            		<img class="haven-logo" src="{{ asset_url }}" alt=" DC Health link Logo" />
                {% endimage %}
            </a>
            <span class="company-name">{{ _header_title }}</span>
        
            {% if app.user %}
            <div class="header-top-right navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        Welcome {{ app.user.firstname }}! |
                    </li>
                    <!-- Display the Admin Page only to user with ROLE_ADMIN tole. -->
                        {% if is_granted('ROLE_ADMIN') %} 
                        <li>
                        	<a data-toggle="dropdown" href="{{ path('dc_gov_haven_admin_home') }}">Admin</a>
                        	<ul class="dropdown-menu" role="menu">
                        		<li><a href="{{ path('dc_gov_haven_admin_manageusers') }}">Manage Users</a></li>
                        		<li><a href="{{ path('dc_gov_haven_admin_managereports') }}">Manage Reports</a></li>
                        	</ul>
                        </li>
                        {% endif %}
                    <li>
                        <a href="{{ path('logout') }}">Logout</a>
                    </li>
                </ul>
        	</div>
        	{% endif %}
	</div>
</div>